<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poppa's Pizza</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" 
          href="images/pizza-slice.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/pizza-styles.css">
</head>
<body>
    <div id="main">
        <header>
            <img src="images/pizza-guy.jpg" alt="Pizza Guy">
            <h1>Poppa's Pizza</h1>
            <p>The best pizza ever!</p>
            <hr>
            <a id="contact-button" href="#" role="button">Contact Us</a>
        </header>

        <!-- Form 
               action: where data will go
               method: how it will get there 
        -->
        <form action="thankyou" method="get">

            <!-- Contact Info -->
            <fieldset>
                <legend>Contact Info</legend>

                <label>First Name:
                    <input type="text" name="fname">
                </label>

                <label>Last Name:
                    <input type="text" name="lname">
                </label>

                <label>Email Address:
                    <input type="text" name="email">
                </label>

            </fieldset>

            <!-- Pickup or delivery -->
            <fieldset>
                <legend>Select Pickup or Delivery</legend>
                <label>
                    <input type="radio" name="method"
                           value="pickup">Pickup
                </label>
                <label>
                    <input type="radio" name="method"
                           value="delivery">Delivery
                </label>
            </fieldset>

            <fieldset>
                <legend>Toppings</legend>

                <label>
                    <input type="checkbox" name="toppings" value="cheese">Cheese
                </label>
                <label>
                    <input type="checkbox" name="toppings" value="pepperoni">Pepperoni
                </label>
                <label>
                    <input type="checkbox" name="toppings" value="mushrooms">Mushrooms
                </label>
            </fieldset>

            <fieldset>
                <legend>Pizza Size</legend>

                <select name="size" id="size">
                    <option value="none">-- Select a Size --</option>
                    <option value="small">Small</option>
                    <option value="med">Medium</option>
                    <option value="large">Large</option>
                </select>
            </fieldset>

            <!-- Place order button -->
            <button type="submit">Place Order</button>
        </form>
    </div>
</body>
</html>